@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider authStateProvider

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <p>Hello, @context.User.Identity.Name !</p>
                    <a @onclick="Logout">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <p>You're not connected.</p>
                </NotAuthorized>
            </AuthorizeView>
            
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {

    private async void Logout()
    {
        // Kill the session
        await((CustomAuthenticationStateProvider)authStateProvider).Logout();
        // Redirect the user to the login page
        NavigationManager.NavigateTo("/login");
        
    }
}