<CascadingAuthenticationState >
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)" >
                <NotAuthorized>
                    <h1>Not logged</h1>
                </NotAuthorized>
            </AuthorizeRouteView>


            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
    </Router>
</CascadingAuthenticationState>